
@{
    ViewBag.Title = "AdminDashboard";
}

@{
    ViewBag.Title = "Dashboard";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NUML</title>
    <link rel="shortcut icon" type="image/png" href="~/Images/logo.png" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css.map" />
    <link rel="stylesheet" href="~/fonts/Font/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/CSS/Table.css" />
    <style>
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #f1f1f1;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
</head>
<body>
    <center>
        <section>
            <div class="container-fluid" style="padding: 0;">
                <div class="row" style="height: 100vh; overflow-y: auto;">
                    <div class="col-lg-2" style="background-color: #8EA1E6; height:100%">
                        <div style="background: #2B2941; width: 65%;  border-radius: 20px; margin: 40px;padding:10% ">
                            <img src="~/Images/Graduation Cap.png" style="width:70%;height:auto;margin-right:-6%" />
                        </div>
                        <div class="row">
                            <a href="@Url.Action("AdminDashboard","Admin")" style="color:black">
                                <div class="col-lg-12">
                                    <div class="col-lg-3" style="margin-left:3%">
                                        <img src="~/Images/Vector.png" />
                                    </div>
                                    <div class="col-lg-8">
                                        <p style="font-family:Minion Variable Concept; font-weight:bold;font-size:medium">Student Dashboard</p>
                                    </div>
                                </div>
                            </a>
                            <div class="col-lg-12" style="margin-top:150%">
                                <a href="@Url.Action("Logout","Student")" style="color:black">
                                    <div class="col-lg-2" style="margin-left:3%">
                                        <i class="fa fa-sign-out"></i>
                                    </div>
                                    <div class="col-lg-9">
                                        <p style="font-family:Minion Variable Concept; font-weight:bold;font-size:medium">Log out</p>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-10" style="background-color: #FFFFFF; height:100%">
                        <div class="row">
                            <div class="col-lg-12" style="background: #e6e6e6; width: 90%; margin: 5%; border-radius: 25px">
                                <div class="col-lg-3">
                                    <img src="~/Images/Rectangle 1.jpg" style="width: 55%; height: auto; border-radius: 20%;margin-top:15%" />
                                </div>
                                <div class="col-lg-9" style="text-align:left;font-family: Minion Variable Concept">
                                    <h1>@Model.Admin.Name</h1>
                                    <h3>Admin Id:@Model.Admin.AdminStaffId</h3>
                                    <h3>Department: Admin Branch</h3>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="col-lg-3" style="background: #e6e6e6; width: 25%; margin: 3%; border-radius: 25px;">
                                    <a href="@Url.Action("CreateProfile","Admin")"><h4 style="Color: black; padding: 25%;">Creat Profile <i class="fa fa-arrow-right"></i></h4></a>
                                </div>
                                <div class="col-lg-3" style="background: #e6e6e6; width: 25%; margin: 3%; border-radius: 25px;">
                                    <a href="@Url.Action("ManageCourse","Admin")"><h4 style="Color: black; padding: 25%;">Manage Course <i class="fa fa-arrow-right"></i></h4></a>
                                </div>
                                <div class="col-lg-3" style="background: #e6e6e6; width: 25%; margin:3%; border-radius: 25px;">
                                    <a href=""><h4 style="Color: black; padding: 25%;">Manage Pofile <i class="fa fa-arrow-right"></i></h4></a>
                                </div>
                                
                            </div>
                            <div class="col-lg-12">
                                <div class="col-lg-3" style="background: #e6e6e6; width: 25%; margin:3%; border-radius: 25px;">
                                    <a href="@Url.Action("ManageProgram","Admin")"><h4 style="Color: black; padding: 25%;">Manage Program <i class="fa fa-arrow-right"></i></h4></a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </center>
</body>
</html>




